BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 20260814_0001

CREATE TABLE "TB_REF_ASSURES" (
    "PERSONNE_UUID" UUID NOT NULL, 
    "NUMERO_RECEPISSE" VARCHAR(50), 
    "ASSURE_NUMERO_IDENTIFIANT" VARCHAR(50), 
    "NUMERO_SECU" VARCHAR(50) NOT NULL, 
    "CIVILITE_CODE" VARCHAR(10), 
    "ASSURE_NOM" VARCHAR(150) NOT NULL, 
    "ASSURE_NOM_PATRONYMIQUE" VARCHAR(150), 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("PERSONNE_UUID"), 
    UNIQUE ("NUMERO_SECU")
);

CREATE TABLE "TB_REF_CENTRES_SANTE" (
    "CENTRE_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "COLLECTIVITE_CODE" VARCHAR(30), 
    "TYPE_ETABLISSEMENT_SANITAIRE_CODE" VARCHAR(30), 
    "CENTRE_SANTE_NUMERO_IMMATRICULATION" VARCHAR(50) NOT NULL, 
    "CENTRE_SANTE_DENOMINATION" VARCHAR(255) NOT NULL, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("CENTRE_SANTE_CODE"), 
    UNIQUE ("CENTRE_SANTE_NUMERO_IMMATRICULATION")
);

CREATE TABLE "TB_REF_AGENTS" (
    "AGENT_CODE" VARCHAR(30) NOT NULL, 
    "AGENT_CODE_GESTION" VARCHAR(30), 
    "AGENT_PRENOMS" VARCHAR(150) NOT NULL, 
    "AGENT_NOM" VARCHAR(150) NOT NULL, 
    "AGENT_EMAIL" VARCHAR(255) NOT NULL, 
    "AGENT_TYPE_CODE" VARCHAR(30) NOT NULL, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("AGENT_CODE"), 
    CONSTRAINT "CK_TB_REF_AGENTS_TYPE" CHECK ("AGENT_TYPE_CODE" IN ('accueil', 'medecin_conseil', 'autre')), 
    UNIQUE ("AGENT_EMAIL")
);

CREATE TABLE "TB_REF_PROFESSIONNELS_SANTE" (
    "PROFESSIONNEL_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "NOM" VARCHAR(150) NOT NULL, 
    "PRENOMS" VARCHAR(150) NOT NULL, 
    "TYPE_CODE" VARCHAR(30) NOT NULL, 
    "NUMERO_ORDRE" VARCHAR(50), 
    "STATUT" VARCHAR(30) NOT NULL, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("PROFESSIONNEL_SANTE_CODE")
);

CREATE TABLE "TB_REF_SPECIALITES_MEDICALES" (
    "SPECIALITE_MEDICALE_CODE" VARCHAR(30) NOT NULL, 
    "DENOMINATION" VARCHAR(255) NOT NULL, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("SPECIALITE_MEDICALE_CODE")
);

CREATE TABLE "TB_REF_PATHOLOGIES" (
    "PATHOLOGIE_CODE" VARCHAR(3) NOT NULL, 
    "PATHOLOGIE_DATE_DEBUT" DATE NOT NULL, 
    "SOUS_CHAPITRE_CODE" VARCHAR(30), 
    "PATHOLOGIE_DENOMINATION" VARCHAR(255) NOT NULL, 
    "PATHOLOGIE_DATE_FIN" DATE, 
    "PATHOLOGIE_STATUT" VARCHAR(30) NOT NULL, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("PATHOLOGIE_CODE", "PATHOLOGIE_DATE_DEBUT")
);

CREATE TABLE "TB_REF_MEDICAMENTS" (
    "MEDICAMENT_CODE" VARCHAR(30) NOT NULL, 
    "MEDICAMENT_DATE_DEBUT" DATE NOT NULL, 
    "TYPE_CODE" VARCHAR(30), 
    "MEDICAMENT_DENOMINATION" VARCHAR(255) NOT NULL, 
    "MEDICAMENT_EAN13" VARCHAR(13), 
    "DCI_CODE" VARCHAR(30), 
    "LABORATOIRE_CODE" VARCHAR(30), 
    "FAMILLE_FORME_CODE" VARCHAR(30), 
    "CONDITIONNEMENT_CODE" VARCHAR(30), 
    "PRESENTATION_CODE" VARCHAR(30), 
    "LISTE_TYPES_FACTURES" TEXT, 
    "LISTE_GENRES" TEXT, 
    "MEDICAMENT_QUANTITE_MAXIMUM" INTEGER, 
    "MEDICAMENT_AGE_MINIMUM" INTEGER, 
    "MEDICAMENT_AGE_MAXIMUM" INTEGER, 
    "MEDICAMENT_HAPAX_STATUT" BOOLEAN NOT NULL, 
    "MEDICAMENT_TARIF_DEFAULT" NUMERIC(15, 2) NOT NULL, 
    "MEDICAMENT_STATUT" VARCHAR(30) NOT NULL, 
    "MEDICAMENT_DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("MEDICAMENT_CODE", "MEDICAMENT_DATE_DEBUT")
);

CREATE TABLE "TB_REF_ACTES_MEDICAUX" (
    "ACTE_MEDICAL_CODE" VARCHAR(30) NOT NULL, 
    "ACTE_MEDICAL_DATE_DEBUT" DATE NOT NULL, 
    "ARTICLE_CODE" VARCHAR(30), 
    "ACTE_MEDICAL_TYPE" VARCHAR(30) NOT NULL, 
    "ACTE_MEDICAL_DENOMINATION" VARCHAR(255) NOT NULL, 
    "LISTE_TYPES_FACTURES" TEXT, 
    "LISTE_GENRES" TEXT, 
    "ACTE_MEDICAL_AGE_MINIMUM" INTEGER, 
    "ACTE_MEDICAL_AGE_MAXIMUM" INTEGER, 
    "ACTE_MEDICAL_QUANTITE_MAXIMUM" INTEGER, 
    "ACTE_MEDICAL_HAPAX_STATUT" BOOLEAN NOT NULL, 
    "ACTE_MEDICAL_STATUT" VARCHAR(30) NOT NULL, 
    "ACTE_MEDICAL_DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("ACTE_MEDICAL_CODE", "ACTE_MEDICAL_DATE_DEBUT")
);

CREATE TABLE "TB_TV_TYPES_FACTURES" (
    "TYPE_FACTURE_CODE" VARCHAR(30) NOT NULL, 
    "TYPE_FACTURE_DATE_DEBUT" DATE NOT NULL, 
    "TYPE_FACTURE_DENOMINATION" VARCHAR(255) NOT NULL, 
    "TYPE_FACTURE_DATE_FIN" DATE, 
    "TYPE_FACTURE_STATUT" VARCHAR(30) NOT NULL, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("TYPE_FACTURE_CODE", "TYPE_FACTURE_DATE_DEBUT")
);

CREATE TABLE "TB_CENTRES_SANTE_AGENTS" (
    "CENTRE_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "AGENT_CODE" VARCHAR(30) NOT NULL, 
    "DATE_DEBUT" DATE NOT NULL, 
    "DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("CENTRE_SANTE_CODE", "AGENT_CODE", "DATE_DEBUT"), 
    FOREIGN KEY("CENTRE_SANTE_CODE") REFERENCES "TB_REF_CENTRES_SANTE" ("CENTRE_SANTE_CODE"), 
    FOREIGN KEY("AGENT_CODE") REFERENCES "TB_REF_AGENTS" ("AGENT_CODE")
);

CREATE TABLE "TB_REF_PROFESSIONNELS_SANTE_SPECIALITES_MEDICALES" (
    "PROFESSIONNEL_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "SPECIALITE_MEDICALE_CODE" VARCHAR(30) NOT NULL, 
    "DATE_DEBUT" DATE NOT NULL, 
    "DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("PROFESSIONNEL_SANTE_CODE", "SPECIALITE_MEDICALE_CODE", "DATE_DEBUT"), 
    FOREIGN KEY("PROFESSIONNEL_SANTE_CODE") REFERENCES "TB_REF_PROFESSIONNELS_SANTE" ("PROFESSIONNEL_SANTE_CODE"), 
    FOREIGN KEY("SPECIALITE_MEDICALE_CODE") REFERENCES "TB_REF_SPECIALITES_MEDICALES" ("SPECIALITE_MEDICALE_CODE")
);

CREATE TABLE "TB_PROFESSIONNELS_SANTE_CENTRES_SANTE" (
    "PROFESSIONNEL_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "CENTRE_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "DATE_DEBUT" DATE NOT NULL, 
    "DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("PROFESSIONNEL_SANTE_CODE", "CENTRE_SANTE_CODE", "DATE_DEBUT"), 
    FOREIGN KEY("PROFESSIONNEL_SANTE_CODE") REFERENCES "TB_REF_PROFESSIONNELS_SANTE" ("PROFESSIONNEL_SANTE_CODE"), 
    FOREIGN KEY("CENTRE_SANTE_CODE") REFERENCES "TB_REF_CENTRES_SANTE" ("CENTRE_SANTE_CODE")
);

CREATE TABLE "TB_FACTURES" (
    "FACTURE_NUMERO" VARCHAR(50) NOT NULL, 
    "PRODUIT_CODE" VARCHAR(30), 
    "REGIME_CODE" VARCHAR(30), 
    "REGIME_TAUX" NUMERIC(5, 2), 
    "ORGANISME_CODE" VARCHAR(30), 
    "ASSURANCE_CODE" VARCHAR(30), 
    "PERSONNE_UUID" UUID NOT NULL, 
    "TYPE_FACTURE_CODE" VARCHAR(30) NOT NULL, 
    "FACTURE_DATE_SOINS" DATE NOT NULL, 
    "DOSSIER_NUMERO" VARCHAR(50) NOT NULL, 
    "CENTRE_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "CENTRE_SANTE_TYPE_CODE" VARCHAR(30), 
    "CENTRE_SANTE_TYPE_LIBELLE" VARCHAR(255), 
    "RESEAU_CODE" VARCHAR(30), 
    "ENTENTE_PREALABLE_ID" INTEGER, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("FACTURE_NUMERO"), 
    FOREIGN KEY("PERSONNE_UUID") REFERENCES "TB_REF_ASSURES" ("PERSONNE_UUID"), 
    FOREIGN KEY("CENTRE_SANTE_CODE") REFERENCES "TB_REF_CENTRES_SANTE" ("CENTRE_SANTE_CODE")
);

CREATE TABLE "TB_FACTURES_PATHOLOGIES" (
    "FACTURE_NUMERO" VARCHAR(50) NOT NULL, 
    "PATHOLOGIE_CODE" VARCHAR(3) NOT NULL, 
    "PATHOLOGIE_DATE_DEBUT" DATE NOT NULL, 
    "PATHOLOGIE_OBSERVATIONS" TEXT, 
    "PATHOLOGIE_DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("FACTURE_NUMERO", "PATHOLOGIE_CODE", "PATHOLOGIE_DATE_DEBUT"), 
    CONSTRAINT "FK_FACTURE_PATHOLOGIE_REF" FOREIGN KEY("PATHOLOGIE_CODE", "PATHOLOGIE_DATE_DEBUT") REFERENCES "TB_REF_PATHOLOGIES" ("PATHOLOGIE_CODE", "PATHOLOGIE_DATE_DEBUT"), 
    FOREIGN KEY("FACTURE_NUMERO") REFERENCES "TB_FACTURES" ("FACTURE_NUMERO")
);

CREATE TABLE "TB_FACTURES_PRESCRIPTIONS" (
    "FACTURE_NUMERO" VARCHAR(50) NOT NULL, 
    "PRESCRIPTION_CODE" VARCHAR(30) NOT NULL, 
    "DATE_DEBUT" DATE NOT NULL, 
    "PRESCRIPTION_QUANTITE" NUMERIC(10, 2), 
    "PRESCRIPTION_POSOLOGIE" TEXT, 
    "PRESCRIPTION_DUREE" INTEGER, 
    "PRESCRIPTION_RENSEIGNEMENTS_CLINIQUES" TEXT, 
    "DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("FACTURE_NUMERO", "PRESCRIPTION_CODE", "DATE_DEBUT"), 
    FOREIGN KEY("FACTURE_NUMERO") REFERENCES "TB_FACTURES" ("FACTURE_NUMERO")
);

CREATE TABLE "TB_FACTURES_PRESTATIONS" (
    "FACTURE_NUMERO" VARCHAR(50) NOT NULL, 
    "PRESTATION_CODE" VARCHAR(30) NOT NULL, 
    "PROFESSIONNEL_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "STATUT_REMBOURSEMENT" VARCHAR(30), 
    "MOTIF_NON_REMBOURSEMENT" TEXT, 
    "PRESTATION_BASE_REMBOURSEMENT" NUMERIC(15, 2), 
    "PRESTATION_TAUX_REMBOURSEMENT" NUMERIC(5, 2), 
    "PRESTATION_QUANTITE_PRESCRITE" NUMERIC(10, 2), 
    "PRESTATION_QUANTITE_SERVIE" NUMERIC(10, 2), 
    "PRESTATION_PRIX_UNITAIRE" NUMERIC(15, 2), 
    "PRESTATION_MONTANT_DEPENSE" NUMERIC(15, 2), 
    "PRESTATION_MONTANT_RQ" NUMERIC(15, 2), 
    "PRESTATION_MONTANT_COMPLEMENTAIRE" NUMERIC(15, 2), 
    "PRESTATION_MONTANT_REMISE" NUMERIC(15, 2), 
    "PRESTATION_MONTANT_ASSURE" NUMERIC(15, 2), 
    "PRESTATION_DATE_DEBUT" DATE, 
    "PRESTATION_DATE_FIN" DATE, 
    "DENTS_NUMEROS" VARCHAR(100), 
    "STATUT_CODE" VARCHAR(30), 
    "MOTIF_REJET_CODE" VARCHAR(30), 
    "PRESTATION_OBSERVATIONS" TEXT, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("FACTURE_NUMERO", "PRESTATION_CODE"), 
    FOREIGN KEY("FACTURE_NUMERO") REFERENCES "TB_FACTURES" ("FACTURE_NUMERO"), 
    FOREIGN KEY("PROFESSIONNEL_SANTE_CODE") REFERENCES "TB_REF_PROFESSIONNELS_SANTE" ("PROFESSIONNEL_SANTE_CODE")
);

CREATE TABLE "TB_FACTURES_REJETS" (
    "FACTURE_NUMERO" VARCHAR(50) NOT NULL, 
    "REJET_CODE" VARCHAR(30) NOT NULL, 
    "REJET_DATE_DEBUT" DATE NOT NULL, 
    "REJET_DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("FACTURE_NUMERO", "REJET_CODE", "REJET_DATE_DEBUT"), 
    FOREIGN KEY("FACTURE_NUMERO") REFERENCES "TB_FACTURES" ("FACTURE_NUMERO")
);

CREATE TABLE "TB_FACTURES_STATUTS" (
    "FACTURE_NUMERO" VARCHAR(50) NOT NULL, 
    "STATUT_CODE" VARCHAR(30) NOT NULL, 
    "STATUT_DATE_DEBUT" DATE NOT NULL, 
    "STATUT_OBSERVATIONS" TEXT, 
    "STATUT_DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("FACTURE_NUMERO", "STATUT_CODE", "STATUT_DATE_DEBUT"), 
    FOREIGN KEY("FACTURE_NUMERO") REFERENCES "TB_FACTURES" ("FACTURE_NUMERO")
);

CREATE TABLE "TB_ENTENTES_PREALABLES" (
    "ENTENTE_PREALABLE_ID" SERIAL NOT NULL, 
    "ENTENTE_PREALABLE_NUMERO" VARCHAR(50) NOT NULL, 
    "CENTRE_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "PERSONNE_UUID" UUID NOT NULL, 
    "DOSSIER_NUMERO" VARCHAR(50) NOT NULL, 
    "ENTENTE_PREALABLE_DATE_DEBUT" DATE NOT NULL, 
    "ENTENTE_PREALABLE_DATE_FIN" DATE, 
    "ENTENTE_PREALABLE_NUMERO_ORGANISME" VARCHAR(50), 
    "ORGANISME_CODE" VARCHAR(30), 
    "FACTURE_NUMERO" VARCHAR(50), 
    "TYPE_DEMANDE_CODE" VARCHAR(30) NOT NULL, 
    "TYPE_HOSPITALISATION_CODE" VARCHAR(30), 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("ENTENTE_PREALABLE_ID"), 
    CONSTRAINT "UQ_ENTENTE_NUMERO" UNIQUE ("ENTENTE_PREALABLE_NUMERO"), 
    FOREIGN KEY("CENTRE_SANTE_CODE") REFERENCES "TB_REF_CENTRES_SANTE" ("CENTRE_SANTE_CODE"), 
    FOREIGN KEY("PERSONNE_UUID") REFERENCES "TB_REF_ASSURES" ("PERSONNE_UUID"), 
    FOREIGN KEY("FACTURE_NUMERO") REFERENCES "TB_FACTURES" ("FACTURE_NUMERO")
);

CREATE TABLE "TB_ENTENTES_PREALABLES_STATUTS" (
    "ENTENTE_PREALABLE_ID" INTEGER NOT NULL, 
    "STATUT_CODE" VARCHAR(30) NOT NULL, 
    "STATUT_DATE_DEBUT" DATE NOT NULL, 
    "AGENT_CODE" VARCHAR(30) NOT NULL, 
    "STATUT_DATE_FIN" DATE, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("ENTENTE_PREALABLE_ID", "STATUT_CODE", "STATUT_DATE_DEBUT"), 
    FOREIGN KEY("ENTENTE_PREALABLE_ID") REFERENCES "TB_ENTENTES_PREALABLES" ("ENTENTE_PREALABLE_ID"), 
    FOREIGN KEY("AGENT_CODE") REFERENCES "TB_REF_AGENTS" ("AGENT_CODE")
);

CREATE TABLE "TB_ENTENTES_PREALABLES_ACTES_MEDICAUX" (
    "ENTENTE_PREALABLE_ID" INTEGER NOT NULL, 
    "ACTE_MEDICAL_CODE" VARCHAR(30) NOT NULL, 
    "PROFESSIONNEL_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "ACTE_MEDICAL_MOTIF" TEXT, 
    "ACTE_MEDICAL_BASE_REMBOURSEMENT" NUMERIC(15, 2), 
    "ACTE_MEDICAL_TAUX_REMBOURSEMENT" NUMERIC(5, 2), 
    "ACTE_MEDICAL_MONTANT_CMU" NUMERIC(15, 2), 
    "ACTE_MEDICAL_MONTANT_ASSURE" NUMERIC(15, 2), 
    "ACTE_MEDICAL_STATUT" VARCHAR(30) NOT NULL, 
    "ACTE_MEDICAL_MOTIF_REJET" TEXT, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("ENTENTE_PREALABLE_ID", "ACTE_MEDICAL_CODE"), 
    FOREIGN KEY("ENTENTE_PREALABLE_ID") REFERENCES "TB_ENTENTES_PREALABLES" ("ENTENTE_PREALABLE_ID"), 
    FOREIGN KEY("PROFESSIONNEL_SANTE_CODE") REFERENCES "TB_REF_PROFESSIONNELS_SANTE" ("PROFESSIONNEL_SANTE_CODE")
);

CREATE TABLE "TB_ENTENTES_PREALABLES_PRESTATIONS" (
    "ENTENTE_PREALABLE_ID" INTEGER NOT NULL, 
    "PRESTATION_CODE" VARCHAR(30) NOT NULL, 
    "PROFESSIONNEL_SANTE_CODE" VARCHAR(30) NOT NULL, 
    "PRESTATION_MOTIF" TEXT, 
    "PRESTATION_PRIX_UNITAIRE" NUMERIC(15, 2), 
    "PRESTATION_QUANTITE" NUMERIC(10, 2), 
    "PRESTATION_STATUT" VARCHAR(30) NOT NULL, 
    "PRESTATION_MOTIF_REJET" TEXT, 
    "DATE_CREATION" TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    "UTILISATEUR_ID_CREATION" VARCHAR(100), 
    "DATE_MODIFICATION" TIMESTAMP WITH TIME ZONE, 
    "UTILISATEUR_ID_MODIFICATION" VARCHAR(100), 
    PRIMARY KEY ("ENTENTE_PREALABLE_ID", "PRESTATION_CODE"), 
    FOREIGN KEY("ENTENTE_PREALABLE_ID") REFERENCES "TB_ENTENTES_PREALABLES" ("ENTENTE_PREALABLE_ID"), 
    FOREIGN KEY("PROFESSIONNEL_SANTE_CODE") REFERENCES "TB_REF_PROFESSIONNELS_SANTE" ("PROFESSIONNEL_SANTE_CODE")
);

ALTER TABLE "TB_FACTURES" ADD CONSTRAINT "FK_FACTURE_ENTENTE" FOREIGN KEY("ENTENTE_PREALABLE_ID") REFERENCES "TB_ENTENTES_PREALABLES" ("ENTENTE_PREALABLE_ID");

INSERT INTO alembic_version (version_num) VALUES ('20260814_0001') RETURNING alembic_version.version_num;

COMMIT;

